<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("partials/head.ejs") %>
</head>
<body>
  <%- include("partials/nav.ejs") %>

  <h2> Mercury </h2>
  <div> <%= mercury.description %></div>
  <div>
    Distance from Sun: <%= mercury.distanceFromSun %> <br>
    Year Length: <%= mercury.yearLength %> <br>
    Radius: <%= mercury.radius %> <br>
    One Day: <%= mercury.oneMercuryDay %> <br>
    Moons: <%= mercury.moons %> <br>
    Link to Site: <%= mercury.websiteLink %> <br>
  </div>
  <img src="<%= mercury.image %>">

  <br><br>

  <%-include("partials/footer.ejs") %>
</body>
</html>