<!DOCTYPE html>
<html lang="en">
<head>
  <%-include("partials/head.ejs") %>
</head>
<body>

  <%-include("partials/nav.ejs") %>
  <h2> Neptune </h2>
  <div> <%= neptune.description %></div>
  <div>
    Distance from Sun: <%= neptune.distanceFromSun %> <br>
    Year Length: <%= neptune.yearLength %> <br>
    Radius: <%= neptune.radius %> <br>
    One Day: <%= neptune.oneNeptuneDay %> <br>
    Moons: <%= neptune.moons %> <br>
    Link to Site: <%= neptune.websiteLink %> <br>
  </div>
  
  <img src="<%=neptune.image %>">
  <br><br>

  <%-include("partials/footer.ejs") %>

</body>
</html>