<!DOCTYPE html>
<html lang="en">
<head>
  <%-include("partials/head.ejs") %>
</head>
<body>

  <%-include("partials/nav.ejs") %>
  <h2> Uranus </h2>
  <div> <%= uranus.description %></div>
  <div>
    <%= uranus.distanceFromSun %> <br>
    <%= uranus.yearLength %> <br>
    <%= uranus.radius %> <br>
    <%= uranus.oneEarthDay %> <br>
    <%= uranus.moons %> <br>
    <%= uranus.websiteLink %> <br>
  </div>
  
  <img src="<%=uranus.image %>">
  <br><br>

  <%-include("partials/footer.ejs") %>

</body>
</html>