<!DOCTYPE html>
<html lang="en">
<head>
  <%-include("partials/head.ejs") %>
</head>
<body>

  <%-include("partials/nav.ejs") %>
  <h2> Mars </h2>
  <div>
    <%= mars.description %>
    <br>
    <%= mars.distanceFromSun%>
    <br>
    <%= mars.yearLength%>
    <br>
    <%= mars.radius%>
    <br>
    <%= mars.oneEarthDay%>
    <br>
    <%= mars.moons%>
  </div>
  
  <img src="<%=mars.image %>">
  <br><br>

  <%-include("partials/footer.ejs") %>

</body>
</html>