<!DOCTYPE html>
<html lang="en">
<head>
  <%-include("partials/head.ejs") %>
</head>
<body>

  <%-include("partials/nav.ejs") %>
  <h2> Saturn </h2>
  <div>
    <%= saturn.description %>
    <br>
    <%= saturn.distanceFromSun%>
    <br>
    <%= saturn.yearLength%>
    <br>
    <%= saturn.radius%>
    <br>
    <%= saturn.oneEarthDay%>
    <br>
    <%= saturn.moons%>
  </div>
  
  <img src="<%=saturn.image %>">
  <br><br>

  <%-include("partials/footer.ejs") %>

</body>
</html>