<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("partials/head.ejs") %>
</head>
<body>
  <%- include("partials/nav.ejs") %>

<<<<<<< HEAD
  <form action="/rock">
<div>
    Select a planet:
    <select name="rockName">
        <option>Comets</option>
        <option>Asteroids</option>
    </select>
</div>
<br><br>
<div><button>Get Info</button></div>
</form>

  <img src="/img/solar-system.jpg">

  <br><br>

  <%-include("partials/footer.ejs") %>

=======
    <%-include ("partials/nav.ejs") %>
<br>
<form action="/planet"
<div>
    Select a planet:
    <select name="planetName">
        <option>Mercury</option>
        <option>Mars</option>
        <option>Saturn</option>
        <option>Venus</option>

    </select>
</div>
<br><br>
<div><button>Get Info</button></div>
</form>
    
    <img src="/img/solarSystem.png" alt="">
    


    <br><br>
    <%-include("partials/footer.ejs") %>
>>>>>>> cb5e8ff7b81bac7755ccadc0f7546cc0b2dda6b5
</body>
</html>