<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("partials/head.ejs") %>
</head>
<body>
  <%- include("partials/nav.ejs") %>

  <h2> Jupiter </h2>

  <div>
    <%= jupiter.description %>
    <br>
    <%= jupiter.distanceFromSun%>
    <br>
    <%= jupiter.yearLength%>
    <br>
    <%= jupiter.radius%>
    <br>
    <%= jupiter.oneEarthDay%>
    <br>
    <%= jupiter.moons%>
  </div>

  <img src="<%= jupiter.image %>">

  <br><br>

  <%-include("partials/footer.ejs") %>
</body>
</html>