<!DOCTYPE html>
<html lang="en">
<head>
  <%-include("partials/head.ejs") %>
</head>
<body>

  <%-include("partials/nav.ejs") %>
  <h2> Jupiter </h2>
  <div> <%= jupiter.description %></div>
  <div>
    Distance from Sun: <%= jupiter.distanceFromSun %> <br>
    Year Length: <%= jupiter.yearLength %> <br>
    Radius: <%= jupiter.radius %> <br>
    One Day: <%= jupiter.oneJupiterDay %> <br>
    Moons: <%= jupiter.moons %> <br>
    Link to Site: <%= jupiter.websiteLink %> <br>
  </div>
  
  <img src="<%=jupiter.image %>">
  <br><br>

  <%-include("partials/footer.ejs") %>

</body>
</html>