<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("partials/head.ejs") %>
</head>
<body>
  <%- include("partials/nav.ejs") %>

  <h2> Mars </h2>
  <div> <%= mars.description %></div>
  <div>
    Distance from Sun: <%= mars.distanceFromSun %> <br>
    Year Length: <%= mars.yearLength %> <br>
    Radius: <%= mars.radius %> <br>
    One Day: <%= mars.oneMarsDay %> <br>
    Moons: <%= mars.moons %> <br>
    Link to Site: <%= mars.websiteLink %> <br>
  </div>

  <img src="<%= mars.image %>">

  <br><br>

  <%-include("partials/footer.ejs") %>
</body>
</html>