<!DOCTYPE html>
<html lang="en">
<head>
  <%-include("partials/head.ejs") %>
</head>
<body>

  <%-include("partials/nav.ejs") %>
  <h2> Saturn </h2>
  <div> <%= saturn.description %></div>
  <div>
    Distance from Sun: <%= saturn.distanceFromSun %> <br>
    Year Length: <%= saturn.yearLength %> <br>
    Radius: <%= saturn.radius %> <br>
    One Day: <%= saturn.oneSaturnDay %> <br>
    Moons: <%= saturn.moons %> <br>
    Link to Site: <%= saturn.websiteLink %> <br>
  </div>
  
  <img src="<%=saturn.image %>">
  <br><br>

  <%-include("partials/footer.ejs") %>

</body>
</html>