<!DOCTYPE html>
<html lang="en">
<head>
  <%-include("partials/head.ejs") %>
</head>
<body>

  <%-include("partials/nav.ejs") %>
  <h2> Uranus </h2>
  <div> <%= uranus.description %></div>
  <div>
    Distance from Sun: <%= uranus.distanceFromSun %> <br>
    Year Length: <%= uranus.yearLength %> <br>
    Radius: <%= uranus.radius %> <br>
    One Day: <%= uranus.oneUranusDay %> <br>
    Moons: <%= uranus.moons %> <br>
    Link to Site: <%= uranus.websiteLink %> <br>
  </div>
  
  <img src="<%=uranus.image %>">
  <br><br>

  <%-include("partials/footer.ejs") %>

</body>
</html>