<!DOCTYPE html>
<html lang="en">
<head>
  <%-include("partials/head.ejs") %>
</head>
<body>

  <%-include("partials/nav.ejs") %>
  <h2> Venus </h2>
  <div> <%= venus.description %></div>
  <div>
    Distance from Sun: <%= venus.distanceFromSun %> <br>
    Year Length: <%= venus.yearLength %> <br>
    Radius: <%= venus.radius %> <br>
    One Day: <%= venus.oneVenusDay %> <br>
    Moons: <%= venus.moons %> <br>
    Link to Site: <%= venus.websiteLink %> <br>
  </div>
  
  <img src="<%=venus.image %>">
  <br><br>

  <%-include("partials/footer.ejs") %>

</body>
</html>