<!DOCTYPE html>
<html lang="en">
<head>
    <%-include ("partials/head.ejs") %>
    <title>Authors List</title>
</head>
<body class="text-center">
    
    <h1>Authors</h1><br><br>

    <% for (let i of authors) { %>
       [ <a href="/author/edit?authorId=<%= i.authorId%>">Update</a> ] <%= i.authorId%> <%= i.firstName %> <%= i.lastName %> <br>
    <% } %>
</body>
</html>