<!DOCTYPE html>
<html lang="en">
<head>
    <%-include ("partials/head.ejs") %>
    <title>New Quotes</title>
</head>
<body class="text-center">
    <%-include ("partials/nav.ejs") %>

    <h1>New Quotes</h1>

    <form action="/quotes/new" method="POST">

        Quote:
        <br>
        <textarea id="w3review" name="textArea" rows="4" cols="50"></textarea>
        <br>

<br>
        <select name="category" >
            <option>Choose Category</option>
            <% for (cat of categories) { %>
                <option> <%=cat.category%></option>
                <% } %>
        </select>

        
        <select name="author">
            <option>Choose Author</option>
            <% for (author of authors) { %>
                <option value="<%= author.authorId %>"> <%=author.firstName%> <%=author.lastName%></option>
                <% } %>



        </select>

        <br><br>
        <button>Add Quote</button>
    </form>
    
</body>
</html>