<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>
    <title>Home</title>
</head>
<body>
    <%- include("partials/nav.ejs") %>
    
    <br>
    <div class="home-container">
    <h2 class="home-csumb">CSUMB Weather: </h2>
    <h4 class="home-info">Skies: <%= weatherData.weather[0].description %></h4>
    <h4 class="home-info">Temperature: <%= Math.round(weatherData.main.temp) %> 째F</h4>
    <h4 class="home-info">Feels Like: <%= Math.round(weatherData.main.feels_like) %> 째F</h4>
    <h4 class="home-info">Low Temp: <%= Math.round(weatherData.main.temp_min) %> 째F</h4>
    <h4 class="home-info">High Temp: <%= Math.round(weatherData.main.temp_max) %> 째F</h4>
    <h4 class="home-info">Wind Speed: <%= Math.round(weatherData.wind.speed) %> MPH</h4>
    
    </div>
    <br>

    <div class="search-other-container">
    <h1 class="search-h1">Search Other Cities</h1>
    <h3 class="search-other-container-info">Enter a City:</h3>
    <form action="/current">
    <input type="text" name="userInput" class="userIn-box">
    <br>
    <button class="btn">Search for Weather Info</button>
    </form>
    </div>

    <%-include("partials/foot.ejs") %>
</body>
</html>